@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
body{
	background: #084e47;
	padding-bottom: 5px;
	padding-top: -15px;
	margin-right: 0;
}
.title{
	background: transparent;
	padding: 10px;
	color: whitesmoke;
	text-align: left;
	font-size: 30px;
	margin-top: 10px;
	margin-left: 50px;
}
.icon{
	width: 90px;
	height: 90px;
	position: relative;
	left: 350px;
	top: -70px;
}
#firstQuestion{
	background: whitesmoke;
	width: 600px;
	height: auto;
	position: relative;
	left: 330px;
	box-shadow: 0 0 10px;
	border-radius: 30px;
	padding: 20px;
	visibility: visible;
	animation: slide;
}
@keyframes slide{
	0%{
		transform: translateX(330px);
	}
	100%{
		transform: translateX(-1000px);
	}
}
#firstQuestion h3{
	color: black;
	font-size: 20px;
	font-family: "Lilita One", sans-serif;
  	font-weight: 300;
 	font-style: normal;
}
#item1{
	width: 250px;
	height: 190px;
	border: 3px solid green;
	border-radius: 30px;
	margin-top: 50px;
	padding-bottom: 35px;
}
.tiger{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-left: 30px;
}
#item1 h6{
	font-size: 30px;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
}
#item1:hover{
	background: greenyellow;
}
#item2{
	width: 250px;
	height: 190px;
	border: 3px solid green;
	border-radius: 30px;
	margin-left: 300px;
	margin-top: -189px;
}
.lion{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-left: 30px;
}
#item2 h6{
	font-size: 30px;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
}
#item2:hover{
	background: greenyellow;
}
#question2{
	background: whitesmoke;
	width: 600px;
	height: auto;
	position: absolute;
	right: 20px;
	top: 200px;
	box-shadow: 0 0 10px;
	border-radius: 30px;
	padding: 20px;
	animation: slide2, slide4;
	visibility: hidden;
}
@keyframes slide2{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-330px);
	}
}
@keyframes slide4{
	0%{
		transform: translateX(-330px);
	}
	100%{
		transform: translateX(-1500px);
	}
}
#question2 h3{
	color: black;
	font-size: 20px;
	font-family: "Lilita One", sans-serif;
  	font-weight: 300;
 	font-style: normal;
}
#item3{
	width: 250px;
	height: 190px;
	border: 3px solid green;
	border-radius: 30px;
	margin-top: 50px;
	padding-bottom: 35px;
}
.asia{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-left: 50px;
}
.europe{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-left: 50px;
}
#item3 h6{
	font-size: 30px;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
}
#item3:hover{
	background: greenyellow;
}
#item4{
	width: 250px;
	height: 190px;
	border: 3px solid green;
	border-radius: 30px;
	margin-left: 300px;
	margin-top: -189px;
}
#item4:hover{
	background: greenyellow;
}
#item4 h6{
	font-size: 30px;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
}
#next{
	padding: 10px;
	font-size: 20px;
	color: whitesmoke;
	position: absolute;
	right: 90px;
	border-radius: 30px;
	border: 3px solid whitesmoke;
	background: transparent;
	cursor: pointer;
}
#next:hover{
	background: whitesmoke;
	color: black;
	border: 3px solid black;
}
#next2{
	padding: 10px;
	font-size: 20px;
	color: whitesmoke;
	position: absolute;
	right: 90px;
	border-radius: 30px;
	border: 3px solid whitesmoke;
	background: transparent;
	cursor: pointer;
	visibility: hidden;
}
#next2:hover{
	background: whitesmoke;
	color: black;
	border: 3px solid black;
}
.correct{
	background: greenyellow;
}
.wrong{
	background: red;
}
#total1{
	width: 400px;
	height: auto;
	max-height: 250px;
	background: whitesmoke;
	padding: 20px;
	border-radius: 30px;
	box-shadow: 0 0 10px;
	font-size: 50px;
	text-align: center;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
 	position: relative;
 	top: -190px;
 	left: 400px;
 	visibility: hidden;
}
#total1 h3{
	font-size: 30px;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center
}
#question3{
	background: whitesmoke;
	width: 600px;
	height: auto;
	position: absolute;
	right: 20px;
	top: 200px;
	box-shadow: 0 0 10px;
	border-radius: 30px;
	padding: 20px;
	animation: slide3, slide5;
	visibility: hidden;
}
@keyframes slide3{
	100%{
		transform: translateX(-330px);
	}
	0%{
		transform: translateX(1000px);
	}
}
@keyframes slide5{
	0%{
		transform: translateX(-330px);
	}
	100%{
		transform: translateX(-1500px);
	}
}
#item5{
	width: 250px;
	height: 190px;
	border: 3px solid green;
	border-radius: 30px;
	margin-top: 50px;
	padding-bottom: 35px;
}

.ten{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-left: 50px;
}
#item5 h6{
	font-size: 30px;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
}
#item5:hover{
	background: greenyellow;
}
#item6{
	width: 250px;
	height: 190px;
	border: 3px solid green;
	border-radius: 30px;
	margin-left: 300px;
	margin-top: -189px;
}
.eleven{
	width: 150px;
	height: 150px;
	margin: auto;
	margin-left: 50px;
}
#item6 h6{
	font-size: 30px;
	color: black;
	font-family: "Lilita One", sans-serif;
  	font-weight: 50;
 	font-style: normal;
 	text-align: center;
}
#item6:hover{
	background: greenyellow;
}
#next3{
	padding: 10px;
	font-size: 20px;
	color: whitesmoke;
	position: absolute;
	right: 90px;
	border-radius: 30px;
	border: 3px solid whitesmoke;
	background: transparent;
	cursor: pointer;
	visibility: hidden;
}
#next3:hover{
	background: whitesmoke;
	color: black;
	border: 3px solid black;
}
