*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}

body{
    background: linear-gradient(140deg, black, #330066, violet);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
}

.container{
    background: transparent;
    height: auto;
    width: 650px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 10px;
    border-radius: 30px;
    overflow: hidden;
    padding-bottom: 35px;
}

.heading{
    padding: 30px;
    background: #FFBF00;
}

.heading h1{
    color: white;
    font-size: 25px;
}

#yearCont{
    padding: 10px;
    background: white;
    margin: auto;
    margin-top: 60px;
    border-radius: 30px;
    color: black;
    width: 300px;
    height: 90px;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
}

#age{
    font-size: 20px;
    color: black;
    padding: 5px;
    margin-left: 190px;
    margin-top: 50px;
}

#enterAge{
    padding: 10px;
    color: white;
    background: green;
    margin: auto;
    border-radius: 10px;
    font-size: 20px;
    border: none;
}
