*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.myNav{
    box-shadow: 0 0 10px;
}

.myNav h1{
    font-weight: 900;
    font-size: 20px;
    margin-top: 23px;
    margin-left: 20px;
}

ul, li{
    font-size: 15px;
    margin-top: 10px;
    display: flex;
    margin-left: 20px;
}

.jumbotron h2{
    font-size: 45px;
    font-weight: 900;
    margin-left: 50px;
    color: white;
    margin-top: 50px;
}

#front{
    background: #330066;
    width: 100;
}

.jumbotron p{
    margin-left: 50px;
    color: white;
}

.logo{
    width: 290px;
    height: 290px;
    position: absolute;
    right: 150px;
    top: 120px;
}

.btn1{
    margin-left: 50px;
    margin-top: 50px;
}

.btn2{
    margin-left: 20px;
    margin-top: 50px;
}

.btn3{
    margin-left: 20px;
    margin-top: 50px;
}

.page-header h3{
    text-align: center;
    font-weight: 900;
}

.page-header p{
    font-size: 15px;
    text-align: center;
}

.container{
    padding-bottom: 90px;
}

.box1{
    border: 2px solid white;
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #330066;
}

.design{
   position: relative;
   width: 150px;
   height: 150px;
   left: 50px;
}

.box1 h3{
    position: relative;
    text-align: center;
    font-weight: 900;
    left: -75px;
    margin-top: 210px;
    color: white;
}


.box2{
    border: 2px solid white;
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background:#330066;
}

.respo{
    position: relative;
    width: 150px;
    height: 150px;
    left: 70px;
}

.box2 h3{
    position: relative;
    text-align: center;
    font-weight: 900;
    left: -75px;
    margin-top: 210px;
    color: white;
}

.box3{
    border: 2px solid white;
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: #330066;
}

.box3 h3{
    position: relative;
    text-align: center;
    font-weight: 900;
    left: -75px;
    margin-top: 210px;
    color: white;
}

.user{
    position: relative;
    width: 150px;
    height: 150px;
    left: 35px;
}

.footer{
    background: lightgrey;
    padding: 10px;
    height: 70vh;
}

.footer h3{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}

.footer p{
    font-size: 15px;
    margin-left: 50px;
    margin-top: 50px;
}

.icon1{
    font-size: 50px;
    position: relative;
    left: 50px;
    bottom: -190px;
    margin: 50px;
}

form{
    width: auto;
    height: auto;
    padding: 50px;
    border-radius: 30px;
    background: white;
    position: absolute;
    right: 50px;
    bottom: -750px;
}

@media screen and (max-width: 768px){
    .logo{
        visibility: hidden;
    }
    .jumbotron h2{
        font-size: 25px;
        text-align: center;
        margin-right: 50px;
    }

    .jumbotron p{
        text-align: center;
        margin-right: 50px;
    }

    .btn{
       position: relative;
       left: 150px;
    }

    .box1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    .box2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    .box3{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: auto;
    }

    .container{
        padding-bottom: 30px;
    }

    .footer{
        height: 80vh;
    }

    form{
        position: absolute;
        bottom: -1250px;
        right: 190px;
        width: auto;
        height: auto;
    }
}
