*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
#container{
	background: linear-gradient(140deg, #330066, #4B0082, #8F00FF);
	background-size: cover;
	background-repeat: no-repeat;
	padding-bottom: 50px;
}
.title{
	background: transparent;
	text-align: left;
	border: 50px;
	color: whitesmoke;
	font-size: 30px;
	padding: 20px;
}
.title h1{
	margin-left: 60px;
	margin-top: -10px;
}
.notes{
	width: 60px;
	height: 60px;
    position: relative;
    left: 250px;
    top: -60px;
}
#create{
	border: none;
	border-radius: 30px;
	background: linear-gradient(140deg, #9400D3, #8806CE, #D6B4FC);
	font-size: 25px;
	color: whitesmoke;
	position: relative;
	left: 50px;
	top: 30px;
	width: auto;
	padding: 20px;
	font-style: bold;
	cursor: pointer;
}
#content{
	width: 450px;
	height: 350px;
	border-radius: 30px;
	box-shadow: 0 0 10px;
	margin-left: 190px;
	margin-bottom: 50px;
	margin-top: 50px;
	background: whitesmoke;
	padding: 20px;
	font-size: 20px;
	border: none;
}
#del{
	padding: 15px;
	font-size: 15px;
	background: #9400D3;
	color: whitesmoke;
	border-radius: 30px;
	float: left;
	margin-top: -110px;
	margin-left: 540px;
	border: none;
	cursor: pointer;

}
