*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background: transparent;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    border: 2px solid white;
    width: 500px;
    height: auto;
    margin-top: 90px;
}
.container h3{
    color: white;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
}