*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    position: relative;
    overflow: hidden;
}

.myNav{
    background: linear-gradient(160deg, rgb(36, 1, 54), rgb(31, 2, 84), rgb(50, 1, 50));
    padding-bottom: 10px;
}

.navbar-brand{
    font-weight: 900;
}

ul, li{
    margin-left: 50px;
}

.jumbotron{
    padding: 20px;
    background: linear-gradient(160deg, rgb(36, 1, 54), rgb(31, 2, 84), rgb(50, 1, 50));
    height: 100vh;
    margin-top: -30px;
    animation: slide, slideBack;
    animation-delay: 3s;
    transition: ease;
    margin-left: -20px;
    margin-right: -20px;
}

@keyframes slide{
    0%{
        opacity: 0;
        transform: translateY(0);
    } 
    100%{
        opacity: 1;
        transform: translateY(-700px);
    }
}

@keyframes slideBack{
    0%{
        opacity: 0;
        transform: translateY(-500px);
    } 100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(-500px);
    } 100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.text-cont{
    padding: 10px;
    height: auto;
    width: 500px;
    color: white;
    margin-left: 90px;
    margin-top: 10px;
}

.text-cont h1{
    font-weight: 500;
    text-shadow: 0 0 10px blue;
}

.text-cont span{
    color: orange;
}

.pic1{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 120px;
    right: 190px;
}

.btn-primary{
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 0 2px;
    border: none;
    margin-left: 95px;
    cursor: pointer;
}

.btn-danger{
    padding: 10px;
    font-size: 15px;
    box-shadow: 0 0 2px;
    border: none;
    margin-left: 10px;
}

.page-header h5{
    font-size: 30px;
    color: goldenrod;
    font-weight: 500;
    text-align: center;
}

.page-header p{
    font-size: 15px;
    color: white;
    text-align: center;
}

#section2{
    background: linear-gradient(160deg, rgb(36, 1, 54), rgb(31, 2, 84), rgb(50, 1, 50));
    background-size: cover;
    height: 100vh;
    position: relative;
    top: -620px;
    animation: slide2, slideBack2, slideUp;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes slide2{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{   
        opacity: 1;
        transform: translateY(-10px);
    }
}

@keyframes slideBack2{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(590px);
    }
}

@keyframes slideUp{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    100%{
        opacity: 1;
        transform: translateY(-700px);
    }
}

.col-sm-3{
    margin-left: 80px;
    margin-top: 30px;
    border: 1px solid white;
    padding: 10px;
    width: 420px;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
}

.col-sm-3 p{
    color: white;
    font-size: 13px;
    margin-top: 50px;
    text-align: center;
}

.img1{
    width: 150px;
    height: 150px;
    border-radius: 30px;
    position: relative;
    left: 70px;
    top: 20px;
}

#section3{
    padding: 10px; 
    background: linear-gradient(160deg, rgb(36, 1, 54), rgb(31, 2, 84), rgb(50, 1, 50));
    position: absolute;
    top: 60px;
    height: 100vh;
    width: 1290px;
    animation: slide3, slideBack3;
    animation-delay: 1s;
    opacity: 0;
}

@keyframes slide3{
    0%{
        opacity: 0;
        transform: translateY(50px);
    }
    100%{
        opacity: 1;
        transform: translateY(-10px);
    }
}

@keyframes slideBack3{
    0%{
        opacity: 1;
        transform: translateY(-10px);
    }
    100%{
        opacity: 0;
        transform: translateY(590px);
    }
}

.page-header h1{
    font-size: 20px;
    text-align: center;
    color: goldenrod;
}

.dev{
    width: 350px;
    height: 350px;
    position: relative;
    left: 40px;
    top: 50px;
}

.text-p{
    text-align: center;
    font-size: 1.5rem;
    color: white;
    top: -290px;
    left: -60px;
    position: relative;  
}

.form-group{
    padding: 10px;
    height: auto;
    width: 300px;
    background: transparent;
    position: relative;
    left: 850px;
    top: -500px;
    color: white;
}

.btn-success{
    padding: 10px;
    font-size: 15px;
    border: none;
    margin-left: 95px;
    position: relative;
    right: -765px;
    top: -510px;
    cursor: pointer;
}

